<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
    </tr>
    <tr th:each="product : ${products}" >
        <td th:text="${product.name}">Unknown</td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}">00.00</td>
    </tr>
</table>
</body>
</html>
